@using System.Web.UI.WebControls
@model List<Bookish.DataAccess.DataModels.BookTitle>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Bookish</h1>
    <p class="lead">Welcome to BOOKISH!!!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Books and shit
        </p>
        @foreach (var book in Model)
        {
            <div>@book.Title</div>
        }
    </div>
</div>
